asgiref==3.6.0
certifi==2022.6.15
distlib==0.3.6
Django==4.1.5
filelock==3.8.0
gunicorn==20.1.0
markdown2==2.4.6
pipenv==2022.8.24
platformdirs==2.5.2
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.16.3
virtualenv-clone==0.5.7
whitenoise==6.3.0
