asgiref==3.4.1
certifi==2022.6.15
distlib==0.3.6
Django==3.2.16
django-tinymce==3.5.0
filelock==3.4.1
gunicorn==20.1.0
markdown2==2.4.6
pipenv==2022.8.24
platformdirs==2.5.2
python-dotenv==0.20.0
pytz==2022.7.1
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.16.3
virtualenv-clone==0.5.7
whitenoise==6.3.0
