body {
  margin: 0;
  background-color: white;
}

code {
  white-space: pre;
}

h1 {
  margin-top: 0px;
  padding-top: 20px;
}

textarea {
  height: 70vh;
}

input {
  width: 20vw;
}

.my-button {
  width: 100px;
  margin-top: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.my_button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.create_page {
  position: relative;
}

.messages {
  position: absolute;
  left: 30%;
  transform: scale(0);
  animation-name: animateMsg;
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
}

@keyframes animateMsg {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.2);
  }
}

.main {
  padding: 10px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
}

.sidebar {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 5px;
}

.create_form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
