{% extends "encyclopedia/layout.html" %} {% block title %} Create New Page
{%endblock %} {% block body %}
<h1>Create New Page</h1>
<div>
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <form action="{% url 'create_new_page' %}" class="create_form" method="post">
    {% csrf_token %} {{ form }}
    <button class="my-button" type="submit" value="Submit">Submit</button>
  </form>
</div>
{% endblock %}
